name: Build and Push

on:
  push:
    branches:
      - main

env:
  IMAGE: "harbor.rp-taki.com/myfirstgithubactionrunner:latest"

jobs:
  build:
    runs-on: arc-runner-set
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          tags: ${{ env.IMAGE }}

      - name: Save image
        run: docker save ${{ env.IMAGE }} -o image.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: image.tar
          retention-days: 1

  scan:
    runs-on: arc-runner-set
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load image
        run: docker load -i image.tar

      - name: Scan image
        run: |
          echo "Scan image here"
          docker images

  push:
    runs-on: arc-runner-set
    needs: scan
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load image
        run: docker load -i image.tar

      - name: Push image
        run: docker push ${{ env.IMAGE }}
